<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular Todo App</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="main.js"></script>
</head>
<body ng-app="MyTodoList" ng-controller="TodoCtrl">
  <h1>Angular Todo App!</h1>
  <input ng-model="inputTodo" type="text" />
  <button ng-click="addTodo()">Add Todo</button>
  <div class="todoList">
    <ul>
      <li ng-repeat="(idx, todo) in todos">
        {{ todo }} | <button ng-click="deleteTodo(idx)">X</button>
      </li>
    </ul>
  </div>
</body>
</html>
